body {
	width: 96%;
	margin-left: 2%;
}
header{
	height: 165px;
	border-radius: 5px;
	background: #ccccff;
}
#top-image{
	height: 130px;
	width: 130px;
	top: 25px;
	background: #6699ff;
	position: absolute;
	left: 5%;
	border-radius: 5px;
}
#user-panel{
	position: absolute;
	top: 20px;
	right: 5%;
	padding: 10px;
	background: #9999ff;
	border-radius: 5px;
}
#h1-1{
	height: 20px;
}
footer{
	margin: 0 auto;
	height: 80px;
	background: #6184aa;
	border-radius: 0px 0px 5px 5px;
	vertical-align: central;
}
footer div{
	padding-top: 35px;
	font-weight: bold;
	padding-left: 10px;
}
footer span{
	margin-right: 15px;
}
	
#main{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
#main .leftAside{
	float: left;
	position: relative;
	width: 650px;
	background: #ccccff;
	border-radius: 5px;
	height: 100%;
}
#main .leftAsidep{
	width: 96%;
	margin-left: 2%;
	text-align: justify;
}
#main .leftAside h3{
	margin: 0px;
	margin-left: 2%;
	margin-top: 2%;
	width: 96%;
	padding: 5px 0px 5px 0px;
	border-radius: 5px 5px 0px 0px;
	background: #76a5fc;
	text-align: center;
}
#main .leftAside table{
	margin: 5px;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 96%;
	padding: 5px 0px 5px 0px;
	border-radius: 0px 0px 5px 5px;
	background: #76a5fc;
	text-align: center;
	border: 1px solid #333;
}
#main article{
	margin-left: 660px;
	background: #80abdb;
	border: 1px solid #40658d;
	border-radius: 5px;
	width: 519px;
}
#main article h3{
	margin: 0px;
	margin-left: 2%;
	margin-top: 2%;
	width: 96%;
	padding: 5px 0px 5px 0px;
	border-radius: 5px 5px 0px 0px;
	background: #76a5fc;
	text-align: left;
}
#main article .text-article{
	padding: 5px;
	font-size: 15px;
	background: #cce6fc;
}
#main article .text-article lable{
	margin-right: 10px;
	width: 10px;
}
#main article .fotter-article{
 height: 23px;
 background: #8babce;
 border-radius: 0px 0px 5px 5px;
 padding: 3px;
}
#main article .date-article, .read{
 float: right;
 margin-left: 10px;
}
#main .leftAside table tr td {
text-align: center;
}
thead {
 background-color: #3f87a6;
 color: #fff;
}