body {
	width: 96%;
	margin-left: 2%;
}
header{
	height: 165px;
	border-radius: 5px;
	background: #ccccff;
}
#top-image{
	height: 130px;
	width: 130px;
	top: 25px;
	background: #6699ff;
	position: absolute;
	left: 5%;
	border-radius: 5px;
}
#user-panel{
	position: absolute;
	top: 20px;
	right: 5%;
	padding: 10px;
	background: #9999ff;
	border-radius: 5px;
}
#h1-1{
	height: 20px;
}
footer{
	height: 80px;
	background: #6184aa;
	border-radius: 0px 0px 5px 5px;
	vertical-align: central;
}
footer div{
	padding-top: 35px;
	font-weight: bold;
	padding-left: 10px;
}
footer span{
	margin-right: 15px;
}